openapi: 3.1.0
info:
  title: Plantyst Portal
  version: "1.0.0"
  description: |
    Plantyst Portal API is a REST API designed to access data related to customer measurements like basic time series, metrics or annotations.

    Some API responses use the HAL convention. HAL (Hypertext Application Language) is a standard convention for defining hypermedia such as links to external resources within JSON or XML code. The standard was initially proposed in June 2012 specifically for use with JSON and has since become available in two variations, JSON and XML. The two associated MIME types are media type application/hal+xml and media type application/hal+json. See also https://en.wikipedia.org/wiki/Hypertext_Application_Language.

    To receive responses in the HAL format, send the `Accept: application/hal+json` header with the request. Without this header, the same data are returned in an alternative plain JSON serialization (embedded collections as top-level properties and `_links` as an array of link objects). The examples in this documentation show the HAL format.

    In HAL responses, a relation with a single link is serialized as an object, while a relation with multiple links is serialized as an array of link objects.

    Property names in request payloads are matched case-insensitively (e.g. `text` and `Text` are equivalent); the documentation uses the PascalCase form for requests and the camelCase form for responses, matching the server's own serialization.
  contact:
    name: Plantyst support
    email: support@plantyst.com

servers:
  - url: https://portal.plantyst.com/api

security:
  - oauth2: []
  - basicApiKey: []
  - apiKeyHeader: []
  - apiKeyQuery: []

tags:
  - name: Authorization
    description: |
      The API supports two authorization mechanisms:

      * __OAuth2__ - bearer tokens in the _JWT_ (_JSON Web Token_) format, obtained through the OAuth2 authorization code flow described below; intended for third party applications acting on behalf of a Plantyst user
      * __API key__ - a per-user secret key; intended for server-to-server integrations

      Credentials for both mechanisms (`client_id`, `client_secret` and `redirect_uri` for OAuth2, the API key) are issued on request at [support@plantyst.com](mailto:support@plantyst.com).

      __Note:__ When a request is not authenticated (missing or invalid credentials), the server currently responds with a `302` redirect to the login page instead of a plain `401`. API clients should disable automatic redirect following and treat a `302` on an API URL as an authentication failure. The `401` responses documented below describe the intended semantics.

      __API key authorization__

      The API key is bound to a specific Plantyst user and may have a limited validity period. The key can be passed with the request in one of the following ways:

      * __HTTP Basic authentication__ - the `Authorization` header with the `Basic` scheme, where the username is the user's email and the password is the API key: `Authorization: Basic {base64(email:api_key)}`
      * __Custom header__ - the `X-API-KEY` header: `X-API-KEY: {api_key}`
      * __Query string__ - the `api_key` parameter appended to the request URL: `https://portal.plantyst.com/api/Measurements?api_key={api_key}`; useful for quick tests, but avoid it in production integrations because URLs tend to end up in logs

      __OAuth2 authorization__

      The OAuth2 workflow is designed to acquire a user token for the access to user resources in Plantyst through the public API. The token serves as the authorization mechanism for third party applications. The application needs to be registered in the Plantyst system, having its own `client_id`, `client_secret` and `redirect_uri` properties.

      The acquired access token is passed with every API request in the `Authorization` header:

      ```
      Authorization: Bearer {access_token}
      ```
  - name: Measurements
    description: |
      This section contains endpoints for the resources related to measurements and their basic properties. A measurement is a key data type to which the most of other API data has a relation. A measurement object has the following properties:

      * `measurementId` - unique identifier of the measurement
      * `title` - title of the measurement
      * `description` - additional description for the measurement
      * `quantityType` - type of the measured quantity; available values: `speed` (continuous production), `rate` (number of pieces), `stroke` (production cycle count), `time` (run time), `temperature`, `humidity`, `power`, `flow`, `workload`, `rotation`
      * `archived` - determines whether the measurement is archived
      * `first` - the date and time of the first collected data sample
      * `rights` - the array of current user access rights for the measurement

      The rights used in the Plantyst application are the following:
      * _View_ - right to view measurement data
      * _Contributor_ - right to create, update and delete records like annotations, jobs and downtimes
      * _DataAdmin_ - right to import job lists (JobTypes import) and to manage the measurement calendar
      * _Admin_ - right to update measurement configuration (user access, tags, downtime codes, ...)
      * _Owner_ - same as Admin, but the access rights can't be revoked

      The rights are hierarchical: each right includes all the lower ones (e.g. a user with the _DataAdmin_ right also has the _Contributor_ and _View_ rights). Endpoints in this documentation state the minimal required access right.
  - name: Measurement Data
    description: This section describes the API endpoints for accessing the basic measurement data.
  - name: Metadocuments
    description: |
      Resources related to metadocuments in the API. Metadocument is a general term for various types of measurement-related records. The `type` of the metadocument determines its meaning:

      * `0` - general (undefined) type
      * `1` - __annotation__ - a note attached to a time point or a time range
      * `2` - __job__ - a production job (work order) executed on the measurement
      * `3` - __downtime__ - a downtime interval, optionally classified by a downtime code

      A metadocument is defined for a single time point (`to` equals `from`), for a time range (`to` greater than `from`), or as unlimited (`to` is `null` - e.g. a job or downtime that is still running).

      __Best practice per metadocument type__

      * __downtime__ (`3`) - set only `DowntimeCodeKey` and leave `Title` empty. The UI displays the description of the downtime code from the downtime code dictionary, so a later change of the description in the dictionary propagates to all downtimes. Setting `Title` directly would freeze the text in each metadocument.
      * __job__ (`2`) - use `Title` (and the job-related properties); do not use `DowntimeCodeKey`.
      * __annotation__ (`1`) - no title is needed; typically only the comment text (`Text`) is set.

      __Command-based architecture__

      All operations that change the state of metadocuments are asynchronous commands. The server responds with `202 Accepted` and a body with the relative URL (`location`) of the command result. Poll the command result URL until the `result` reaches one of the final states:

      * `Waiting` / `InProgress` - the command is queued or being processed
      * `Success` - the command completed successfully
      * `Conflict` - the optimistic concurrency check failed (the metadocument was modified in the meantime, see the ETag note below)
      * `DataError` - the command data are invalid
      * `Failed` - the command processing failed
      * `AlreadyApplied` - the same command was already applied

      __Optimistic concurrency__

      Every metadocument carries an `eTag`. The update and delete operations accept an optional ETag value; when it is provided and the metadocument has been modified in the meantime, the command finishes with the `Conflict` result.

      __Command custom identifier__

      Every command operation accepts an optional `commandCustomId` query parameter - a client-supplied identifier of the command. The command result can later be looked up with `GET /MetadocumentCommandResults?commandCustomId={id}` (useful when the response with the command location was lost).

      __Access rights__

      Reading metadocuments requires the _View_ right; creating, updating and deleting requires the _Contributor_ right. Metadocuments marked `readOnly` and properties locked by another user (`locks`) cannot be modified; users with the _Admin_ right bypass the locks. Comments can be updated only by their author; deleting another user's comment requires the _Admin_ right.
  - name: Downtime Codes
    description: |
      The downtime code dictionary classifies downtimes by their cause. Every measurement has its own list of codes; a downtime metadocument references a code through its `key` (the `DowntimeCodeKey` property, see Metadocuments).

      The meaning of the code properties:

      * `key` - server-assigned identifier of the code, referenced by downtime metadocuments; stable for the whole lifetime of the code
      * `code` - short human-readable code displayed in the UI (format `^([a-zA-Z0-9]+\.?)+$`, at most 10 characters)
      * `title` - the description of the cause; the UI displays it for every downtime classified with the code
      * `canBeSelected` - whether operators can select the code manually
      * `validTo` - soft-delete timestamp; `null` for active codes (deleted codes stay in the dictionary because historical downtimes may reference them)
      * `commandGuid` - the identifier of the command that created or last changed the code; every change assigns a new value. It is used as `OriginGuids` when updating, deleting or restoring codes - always re-read the dictionary before a subsequent change.
      * `isBreakdown` - the code marks a breakdown
      * `isCommentRequired` - operators must add a comment when using the code
      * `isTransferable`, `isShiftPauseTransferable` - the downtime is transferred to the next shift / over shift pauses
      * `isReducingPlannedTime`, `isReducingProduction`, `isReducingProductionTime` - how the downtime affects the OEE computation (planned time / production / production time reduction)
      * `maxLength` - the maximal length of the downtime in seconds; a longer downtime is automatically split

      Reading the dictionary requires the _View_ right; the management commands require the _Admin_ right and follow the asynchronous command pattern (`202 Accepted` + `location`, see Command Results).
  - name: Job Types
    description: |
      Job types represent the plan of production jobs (work orders) prepared for the measurements - the list of jobs ready to run. Operators pick jobs from this list on the shop floor; a started job is then represented as a job metadocument (see Metadocuments).

      The job type list is maintained by importing a CSV file. The import is an asynchronous command: the server responds with `202 Accepted` and the relative URL (`location`) of the command result (see Command Results). __The import replaces the whole job type list__ of every measurement affected by the file.

      Required access rights: reading requires _View_ (the list is scoped to the user's current subscription); the CSV import requires the _DataAdmin_ right for the affected measurements.

      __CSV file format__

      * encoding UTF-8, values separated by a comma (`,`) or a semicolon (`;`) - the delimiter is detected automatically
      * the first row is a header with column names; the names are matched case-insensitively, unknown columns are ignored
      * supported columns: `Title` (required), `Setpoint`, `MeasurementId`, `PlannedFrom`, `PlannedTo`, `MaximumProductionCoefficient`, `MaximumProductionCoefficientDenominator`, `Description`, `AvailableTools`, `Operations`, `TargetAmount`, `MultipleInstanceId`, `IsMultipleInstanceOverlapDisabled`, `WorkOrderNumber`
      * `AvailableTools` and `Operations` may contain multiple values separated by a pipe (`|`)
      * `PlannedFrom`/`PlannedTo` are dates; the recommended format is UTC ISO 8601, e.g. `2026-07-02T06:50:00Z`
      * custom fields: any column prefixed `Custom.` (e.g. `Custom.PartNumber`) is imported into the `customFields` of the job type
      * numeric validations: `Setpoint`, `TargetAmount`, `MaximumProductionCoefficient` and its denominator must be greater than zero when provided
      * limits: at most 10 000 rows per measurement and 500 000 rows per file
      * `MeasurementId` determines the measurement of each row. __When the column is missing or empty in all rows, the same imported list is applied to every measurement where the user has the DataAdmin right__ - always provide the column unless this is really intended.

      Example:

      ```
      Title,Setpoint,MeasurementId,PlannedFrom,PlannedTo,TargetAmount,WorkOrderNumber,Custom.PartNumber
      Order 2026-0042,50,1770,2026-07-02T06:50:00Z,2026-07-02T07:20:00Z,100,WO-2026-0042,PN-123
      ```
  - name: Calendar
    description: |
      The measurement calendar defines the planned production time: __shifts__ (`plannedProduction` events) and __planned shutdowns__ (`plannedShutdown` events). The calendar drives the OEE computation (planned time) and shift-related behavior like downtime transfers.

      __Event identity__

      * The event identifier (`id` in the URL) is the __Unix timestamp (in seconds) of the event start__. Changing the start of an event also changes its identifier.
      * Every event carries a `guid` - the identifier of the command that created or last changed it. It is passed as `OriginGuid` to the update, delete and operator commands, and a new value is assigned by every change (re-read the events before a subsequent change). A stale `OriginGuid` responds with `409 Conflict` (synchronously for the update).

      __Pauses__

      The shift pauses are expressed as __offsets from the shift start__ in the .NET TimeSpan format `[dd.]hh:mm:ss` - e.g. a pause `{ "from": "04:00:00", "to": "04:15:00" }` of a shift starting at 06:00 UTC runs from 10:00 to 10:15 UTC.

      Reading the calendar requires the _View_ right; the management operations require the _DataAdmin_ right and follow the asynchronous command pattern (`202 Accepted` + `location`, see Command Results).
  - name: Command Results
    description: |
      The results of asynchronous commands (e.g. the job types CSV import). A command request responds with `202 Accepted` and a body with the relative URL (`location`) of the command result. Poll the result URL until the `result` reaches one of the final states:

      * `Waiting` / `InProgress` - the command is queued or being processed
      * `Success` - the command completed successfully
      * `DataError` - the input data are invalid; the `reason` property describes the problem
      * `Conflict` / `Failed` / `AlreadyApplied` - other final states (see the Metadocuments group description)

      Note: metadocument commands use their own result resource, `/MetadocumentCommandResults`.

  - name: Automatic Downtime Generation
    description: |
      Configuration of the automatic inactivity detection: when the machine produces nothing for longer than the configured minimum stop length, a downtime metadocument is created automatically for the measurement. Each __generation rule__ defines the minimum stop length for one measurement.

      The management commands require the _Admin_ right and follow the asynchronous command pattern (`202 Accepted` + `location`, see Command Results).

      __Naming note:__ The endpoint URLs and property names keep the historical name "downtime alarm" (`/DowntimeAlarm*Commands`, `ProductionAlarmTriggerIds`); it denotes the same concept as the automatic downtime generation.

      __Note:__ The API currently has no endpoint for listing the configured generation rules. The `OriginGuids` value can be tracked by the integration itself: the guid of the add or update command (the last segment of the returned `location` URL) becomes the `commandGuid` of the rule. The `ProductionAlarmTriggerIds` are however not exposed by the API at all - they are available only in the Portal settings (Settings - Downtimes - Automatic downtimes generating). A command with a stale `OriginGuids` value finishes with the `Conflict` result.

  - name: Webhooks
    description: |
      Plantyst can notify an integration about metadocument changes by calling a registered HTTP callback URL (a webhook). Webhooks are set up on request at [support@plantyst.com](mailto:support@plantyst.com) - provide the callback URL and agree on the optional `configuration` value echoed with every delivery. The webhook fires for every metadocument change on all measurements accessible to the integration user; there is currently no self-service management API.

      __Events__

      * `MetadocumentCreate` - a metadocument was created
      * `MetadocumentUpdate` - a metadocument was updated (including changes of its comments and production entries)
      * `MetadocumentDelete` - a metadocument was deleted

      __Delivery and acknowledgement__

      The delivery is a `POST` request with an `application/json` body (see the webhook definition below). Acknowledge it with any `2xx` status code; other status codes and unreachable URLs cause several redelivery attempts before the delivery is dropped. Deliveries may occasionally arrive out of order or repeatedly - use `data.lastModified` and `data.eTag` to decide whether the payload is newer than your state.

      __Security and the recommended integration pattern__

      The delivery is not signed. Treat the payload as a notification and verify anything important by reading the current state through the REST API - the `authorization` object in the body carries a short-lived (1 hour) credential for that: use `authorization.value` as the `Authorization: Bearer {value}` header (or as an API key when `authorizationType` is `ApiKey`). Because the payload contains this credential, treat the whole request body as a secret.

      __Detecting own changes__

      The `commandGuid` of the event equals the command identifier returned to the API caller in the command `location` URL. An integration that also writes through the API can compare it with its own issued commands and skip the echo of its own changes.

      __What changed__

      The `appliedChanges` property carries a JSON Patch (RFC 6902) document describing the changes applied by the command - useful for reacting only to specific properties (e.g. a path `/DowntimeCode` means the downtime code changed). Note that the patch paths use PascalCase property names, unlike the camelCase payload.

paths:
  /OAuth/Authorize:
    get:
      operationId: getLoginPage
      tags: [Authorization]
      summary: Get login page
      description: |
        To get the login page, the application has to redirect the user to the following URL: `https://portal.plantyst.com/OAuth/Authorize?client_id={client_id}&response_type=code&redirect_uri={url_encoded_redirect_uri}&state={optional_state_string}`.

        Once the user logs in and confirms the delegation of the rights to the third party application, the server redirects the user to the given redirect URL and adds the temporary authorization code to the response query string. The authorization code is valid for 5 minutes.

        In case of a login error, the next procedure is described in the RFC https://tools.ietf.org/html/rfc6749#section-4.1.2.1
      security: []
      servers:
        - url: https://portal.plantyst.com
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          example: 9sgfr867q
          description: Obtained during the registration process of the application.
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
          example: code
          description: The type of the authorization flow; currently, Plantyst supports only the „code“ type.
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
          example: https://URL
          description: Absolute URI to which the user will be redirected after successful login.
        - name: state
          in: query
          required: false
          schema:
            type: string
          example: option
          description: Optional parameter, returned back to the redirect URL.
      responses:
        "200":
          description: The login page.

  /OAuth/Token:
    post:
      operationId: retrieveAccessToken
      tags: [Authorization]
      summary: Access token request
      description: |
        To get the actual access token, the client application sends a POST request with `grant_type` set to `authorization_code` and the following parameters:
        * `grant_type` - "authorization_code"
        * `code` - temporary authorization code from the first step
        * `redirect_uri` - redirect_uri of the application
        * `client_id` - client_id of the application
        * `client_secret` - client_secret of the application

        The response of the server is the user authorization token (JWT token) that can be used to authorize API requests by the given user and contains `expires_in` which is the number of seconds until the token expires.
        A refresh token is returned as well.

        __Refreshing the access token__

        When the access token expires, the application obtains a new one without user interaction by sending a POST request to the same URL with `grant_type` set to `refresh_token` and the following parameters:
        * `grant_type` - "refresh_token"
        * `refresh_token` - the refresh token returned with the previous access token
        * `client_id` - client_id of the application
        * `client_secret` - client_secret of the application

        Each successful refresh returns a new refresh token. The previous refresh token stays valid for 24 hours after the exchange, then it is discarded.

        In case of an error, the server responds with `400 Bad Request` and an `error` value according to [RFC 6749, section 5.2](https://tools.ietf.org/html/rfc6749#section-5.2): `invalid_request`, `invalid_client`, `invalid_grant` or `unsupported_grant_type`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/AuthorizationCodeTokenRequest"
                - $ref: "#/components/schemas/RefreshTokenRequest"
            examples:
              authorizationCode:
                summary: Exchange of the authorization code
                value:
                  grant_type: authorization_code
                  code: "wxTd41…"
                  redirect_uri: https://application.example.com/callback
                  client_id: 9sgfr867q
                  client_secret: "pRt5cd…"
              refreshToken:
                summary: Refreshing the access token
                value:
                  grant_type: refresh_token
                  refresh_token: "3RZm2h56Sr1JB7dQxbC0T4Wu9pKfMv8jYgNaLeXsIoE="
                  client_id: 9sgfr867q
                  client_secret: "pRt5cd…"
      responses:
        "200":
          description: The user authorization token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationToken"
              example:
                token_type: Bearer
                access_token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJDbGllbnRJZCI6..."
                expires_in: 86400
                refresh_token: "3RZm2h56Sr1JB7dQxbC0T4Wu9pKfMv8jYgNaLeXsIoE="
        "400":
          description: Invalid token request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
              example:
                error: invalid_grant

  /Measurements:
    get:
      operationId: listMeasurements
      tags: [Measurements]
      summary: List Measurements
      description: |
        Gets the list of measurements for which the current user has the access rights for view or higher.

        Required access right: _View_.

        Along with the measurements (the `measurement` relation), additional data are embedded in the response under the following relations:
        * `timezone` array of all distinct timezones assigned to measurements
        * `tag` array of all distinct tags assigned to measurements
        * `measurementDataVersion` array of measurement data versions
        * `measurementCustomField` array of all distinct custom fields assigned to measurements
        * `hierarchicalLocation` array of hierarchical locations the measurements belong to
      parameters:
        - name: groupId
          in: query
          required: false
          schema:
            type: integer
          description: Identifier of a hierarchical location group. When specified, only measurements within the hierarchy of the given group are returned and the `currentSubscriptionOnly` parameter is ignored.
        - name: currentSubscriptionOnly
          in: query
          required: false
          schema:
            type: boolean
            default: true
          example: true
          description: Determines whether all measurements or only measurements from the user's current subscription are returned.
      responses:
        "200":
          description: The list of measurements with embedded related resources.
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/MeasurementList"
              example:
                _links:
                  self:
                    href: /Api/Measurements
                _embedded:
                  timezone:
                    - id: Central Europe Standard Time
                      name: (UTC+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague
                      iana: Europe/Prague
                      _links:
                        self:
                          href: /Api/TimeZone/Central%20Europe%20Standard%20Time
                  tag:
                    - id: "83"
                      title: Technology
                      color: "#E67E22"
                      _links:
                        self:
                          href: /Api/Tag/83
                    - id: "82"
                      title: Shop 1
                      color: "#1ABC9C"
                      _links:
                        self:
                          href: /Api/Tag/82
                  measurementDataVersion:
                    - id: "414"
                      title: TimeSeries
                      lastModified: "2016-10-25T16:05:00Z"
                      _links:
                        self:
                          href: /Api/MeasurementDataVersion/414
                    - id: "415"
                      title: DowntimeCodes
                      lastModified: "2016-10-25T16:05:00Z"
                      _links:
                        self:
                          href: /Api/MeasurementDataVersion/415
                  measurementCustomField:
                    - id: 12
                      key: CostCenter
                      value: CC-100
                      _links:
                        self:
                          href: /Api/MeasurementCustomField/12
                  hierarchicalLocation:
                    - hierarchicalLocationId: 51
                      title: Hall A
                      shortTitle: A
                      level: /51/
                      _links:
                        self:
                          href: /Api/HierarchicalLocations/51
                  measurement:
                    - measurementId: 3
                      title: A | 01 | Machine 1
                      description: Main production line
                      quantityType: speed
                      archived: false
                      first: "2016-01-01T00:00:00Z"
                      rights: [Admin]
                      _links:
                        self:
                          href: /Api/Measurement/3
                        timezone:
                          href: /Api/TimeZone/Central%20Europe%20Standard%20Time
                        tags:
                          href: /Api/Tag/82
                        dataVersions:
                          - href: /Api/MeasurementDataVersion/414
                          - href: /Api/MeasurementDataVersion/415
                        customFields:
                          href: /Api/MeasurementCustomField/12
                        hierarchicalLocation:
                          href: /Api/HierarchicalLocations/51
                    - measurementId: 4
                      title: A | 02 | Machine 2
                      description: Main production line
                      quantityType: rate
                      archived: false
                      first: "2016-01-01T00:00:00Z"
                      rights: [Admin]
                      _links:
                        self:
                          href: /Api/Measurement/4
                        timezone:
                          href: /Api/TimeZone/Central%20Europe%20Standard%20Time
                        tags:
                          href: /Api/Tag/83
                        dataVersions:
                          href: /Api/MeasurementDataVersion/415
                        hierarchicalLocation:
                          href: /Api/HierarchicalLocations/51
        "401":
          $ref: "#/components/responses/Unauthorized"

  /MeasurementTimeSeriesAggregationsQuery:
    post:
      operationId: listMeasurementTimeSeriesAggregations
      tags: [Measurement Data]
      summary: List Measurement Time Series Aggregation
      description: |
        Gets the list of Time Series Aggregation items for the given measurements.

        Required access right: _View_.

        The request contains the definition of queries, each for one measurement. A required part of the query is the `View` parameter, which specifies the type of the data aggregation.
        Available values are:
        * `"Base.MinuteSet"` - set of atomic minute aggregations, each for one UTC minute
        * `"Base.Hour"` - set of hour aggregations, each for one UTC hour
        * `"Base.Day"` - set of day aggregations, each for one day in the measurement time zone
        * `"Base.Month"` - set of month aggregations, each for one month in the measurement time zone

        The response for the request contains the copy of the original query, the set of data items and the recipe for the interpretation of the data items (`outputFormat`).
        Each item in the output format defines interpretation of the respective data item.
        For five output format items and two data samples, there will be ten data items in the response. The array may contain the following values:
        * `ItemCount` - defines the count of the atomic data items in the aggregation
        * `TimeSquareSum` - auxiliary value for the optimized data computations
        * `TimeSum` - auxiliary value for the optimized data computations
        * `TimeValueSum` - auxiliary value for the optimized data computations
        * `ValueSum` - specifies the overall (sum) value of the data item

        The output format depends on the requested view: `Base.MinuteSet` returns only `ValueSum`, the other views return all five values.

        The server responds with `400 Bad Request` when the payload is missing, a query has no `View`, or `Precision` is outside the range 0-15. When the user does not have access to all queried measurements, the server responds with `403 Forbidden`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Queries:
                  type: array
                  items:
                    type: object
                    required: [MeasurementId, From, To, View]
                    properties:
                      MeasurementId:
                        type: integer
                        description: Unique measurement identifier.
                      From:
                        type: string
                        format: date-time
                        description: UTC date and time in ISO 8601 format that specifies the inclusive lower bound of the data query.
                      To:
                        type: string
                        format: date-time
                        description: UTC date and time in ISO 8601 format that specifies the exclusive upper bound of the data query.
                      View:
                        type: string
                        description: Specifies the requested time series type.
                      Precision:
                        type: integer
                        minimum: 0
                        maximum: 15
                        description: Specifies the number of decimal places of the returned values (0-15); when omitted, an adaptive rounding is used.
            example:
              Queries:
                - MeasurementId: 3
                  From: "2017-06-01T00:00:00Z"
                  To: "2017-06-01T00:09:00Z"
                  View: Base.MinuteSet
                  Precision: 2
                - MeasurementId: 4
                  From: "2017-05-31T21:00:00Z"
                  To: "2017-05-31T23:00:00Z"
                  View: Base.Hour
                  Precision: 2
      responses:
        "200":
          description: The time series aggregations, one result per query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        query:
                          type: object
                          description: The copy of the original query.
                          properties:
                            measurementId:
                              type: integer
                            from:
                              type: string
                              format: date-time
                            to:
                              type: string
                              format: date-time
                            view:
                              type: string
                            precision:
                              type: [integer, "null"]
                        outputFormat:
                          type: array
                          description: Defines the interpretation for the `data` section.
                          items:
                            type: string
                        data:
                          type: array
                          description: Array of data items.
                          items:
                            type: [number, "null"]
                        first:
                          type: string
                          format: date-time
                          description: UTC date and time of first returned data item in ISO 8601 format.
              example:
                results:
                  - query:
                      view: Base.MinuteSet
                      precision: 2
                      measurementId: 3
                      from: "2017-06-01T00:00:00Z"
                      to: "2017-06-01T00:09:00Z"
                    outputFormat: [ValueSum]
                    data: [0, 0, 3, 10, 11, 10, 9, 11, 10, 7]
                    first: "2017-06-01T00:00:00Z"
                  - query:
                      view: Base.Hour
                      precision: 2
                      measurementId: 4
                      from: "2017-05-31T21:00:00Z"
                      to: "2017-05-31T23:00:00Z"
                    outputFormat: [ItemCount, TimeSquareSum, TimeSum, TimeValueSum, ValueSum]
                    data: [60, 70210, 1770, 33352, 1196, 60, 70210, 1770, 24442, 963]
                    first: "2017-05-31T21:00:00Z"
        "400":
          description: The payload is missing, a query has no `View`, or `Precision` is outside the range 0-15. The response has an empty body.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The user does not have access to all queried measurements. The response has an empty body.

  # ---------------------------------------------------------------------------
  # Metadocuments
  # ---------------------------------------------------------------------------
  /Metadocuments:
    get:
      operationId: findMetadocumentsByCustomId
      tags: [Metadocuments]
      summary: Find Metadocuments by custom identifier
      description: |
        Gets the metadocuments identified by the combination of `measurementId` and `customId`.

        Required access right: _View_.
      parameters:
        - name: measurementId
          in: query
          required: true
          schema:
            type: integer
          description: The measurement identifier.
        - name: customId
          in: query
          required: true
          schema:
            type: string
          description: The user-defined identifier of the metadocument.
      responses:
        "200":
          description: The metadocuments with the given custom identifier and the related users.
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  _links:
                    $ref: "#/components/schemas/HalLinks"
                  _embedded:
                    type: object
                    properties:
                      metadocument:
                        type: array
                        items:
                          $ref: "#/components/schemas/Metadocument"
                      user:
                        type: array
                        items:
                          $ref: "#/components/schemas/UserSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: No metadocument with the given custom identifier exists.
    post:
      operationId: addMetadocument
      tags: [Metadocuments]
      summary: Add Metadocument
      description: |
        Adds a metadocument of the given type for the specific measurement.

        Required access right: _Contributor_.

        The optional `Text` property creates the first comment of the metadocument in the same command (with `CommentTime` as its time, when provided).
      parameters:
        - name: tryMergeWithExisting
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When `true`, the server tries to merge the metadocument with an existing overlapping one instead of creating a new one.
        - name: allowMultiple
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When `true`, allows multiple metadocuments with the same `CustomId` and `MeasurementId` to be inserted.
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetadocumentCreate"
            examples:
              downtime:
                summary: Downtime classified by a downtime code (no Title - the UI shows the dictionary description of the code)
                value:
                  MeasurementId: 3
                  Type: 3
                  From: "2026-07-01T05:30:00Z"
                  To: "2026-07-01T07:30:00Z"
                  DowntimeCodeKey: "144"
                  CustomFields:
                    SourceId: ext-123
              job:
                summary: Job (work order) with a title
                value:
                  MeasurementId: 3
                  Type: 2
                  From: "2026-07-01T05:30:00Z"
                  To: null
                  Title: Order 2026-0042
                  WorkOrderNumber: WO-2026-0042
                  TargetAmount: 100
              annotation:
                summary: Annotation with the first comment
                value:
                  MeasurementId: 3
                  Type: 1
                  From: "2026-07-01T05:30:00Z"
                  To: "2026-07-01T05:30:00Z"
                  Text: Material batch changed
      responses:
        "202":
          $ref: "#/components/responses/MetadocumentCommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /Metadocuments/{guid}:
    parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: e2dd39dc-5389-43b9-b855-426af762811f
        description: Unique identifier of the metadocument.
    get:
      operationId: getMetadocument
      tags: [Metadocuments]
      summary: Get Metadocument
      description: |
        Gets the metadocument with the specific Guid, with embedded comments, production entries and related users.

        Required access right: _View_.
      responses:
        "200":
          description: The metadocument with embedded related resources.
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/Metadocument"
              example:
                guid: 27a858a0-c244-4640-83f8-513dbc70c2e6
                type: 3
                creatorId: 497
                measurementId: 3
                from: "2026-07-01T05:30:00Z"
                to: "2026-07-01T07:30:00Z"
                color: "#969614"
                downtimeCode: "144"
                downtimeCodeKey: "144"
                eTag: "\"2f007274-0000-0d00-0000-6a4e18d80000\""
                customFields:
                  SourceId: ext-123
                lastModified: "2026-07-01T09:25:15Z"
                _links:
                  self:
                    href: /Api/Metadocuments/27a858a0-c244-4640-83f8-513dbc70c2e6
                  user:
                    href: /Api/Users/497
                _embedded:
                  comment:
                    - id: 1
                      text: Comment text
                      modificationTime: "2026-07-01T11:52:12Z"
                      _links:
                        self:
                          href: /Api/Metadocuments/27a858a0-c244-4640-83f8-513dbc70c2e6/Comments/1/
                        user:
                          href: /Api/Users/497
                  productionEntry:
                    - id: 1
                      time: "2026-07-01T07:00:00Z"
                      value: 120
                      type: OK
                      note: First batch
                      _links:
                        self:
                          href: /Api/Metadocuments/27a858a0-c244-4640-83f8-513dbc70c2e6/ProductionEntries/1/
                        user:
                          href: /Api/Users/497
                  user:
                    - userId: 497
                      name: Jan Novák
                      _links:
                        self:
                          href: /Api/Users/497
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: patchMetadocument
      tags: [Metadocuments]
      summary: Patch Metadocument
      description: |
        Updates the metadocument with the specific Guid. Only the properties present in the payload are changed.

        Required access right: _Contributor_ (see the group description for `readOnly` and `locks` restrictions).

        The optional `ETag` property enables the optimistic concurrency check: when the metadocument has been modified in the meantime, the command finishes with the `Conflict` result. The server responds with `400 Bad Request` when the patch does not change anything or would leave the metadocument without content.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetadocumentUpdate"
            example:
              DowntimeCodeKey: "144"
              To: "2026-07-01T08:00:00Z"
              ETag: "\"2f007274-0000-0d00-0000-6a4e18d80000\""
      responses:
        "202":
          $ref: "#/components/responses/MetadocumentCommandAccepted"
        "400":
          description: The payload is invalid, does not change anything, or would leave the metadocument without content.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteMetadocument
      tags: [Metadocuments]
      summary: Delete Metadocument
      description: |
        Deletes the metadocument with the specific Guid.

        Required access right: _Contributor_ (see the group description for `readOnly` and `locks` restrictions).
      parameters:
        - name: etag
          in: query
          required: false
          schema:
            type: string
          description: Optional ETag of the metadocument for the optimistic concurrency check.
        - $ref: "#/components/parameters/CommandCustomId"
      responses:
        "202":
          $ref: "#/components/responses/MetadocumentCommandAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /Metadocuments/{guid}/Comments:
    parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Unique identifier of the metadocument.
    post:
      operationId: addMetadocumentComment
      tags: [Metadocuments]
      summary: Add Metadocument Comment
      description: |
        Adds a comment to the specific metadocument.

        Required access right: _Contributor_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [Text]
              properties:
                Text:
                  type: string
                  maxLength: 500
                  description: The comment text.
                Time:
                  type: string
                  format: date-time
                  description: The comment time; when omitted, the current UTC time is used.
            example:
              Text: Comment text.
      responses:
        "202":
          $ref: "#/components/responses/MetadocumentCommandAccepted"
        "400":
          description: The payload is invalid (`Text` is required, at most 500 characters).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: patchMetadocumentComment
      tags: [Metadocuments]
      summary: Patch Metadocument Comment
      description: |
        Updates the comment with the specific `Id` of the given metadocument.

        Required access right: _Contributor_; only the author of the comment can update it.

        __Note:__ Updating a comment assigns it a new `id` (the `id` identifies the comment and its version). Re-read the metadocument to get the current `id` before a subsequent update or delete.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [Id, Text]
              properties:
                Id:
                  type: integer
                  description: The identifier of the comment within the metadocument.
                Text:
                  type: string
                  maxLength: 500
                  description: The new comment text.
                Time:
                  type: string
                  format: date-time
                  description: The comment time; when omitted, the current UTC time is used.
            example:
              Id: 12
              Text: Comment text.
      responses:
        "202":
          $ref: "#/components/responses/MetadocumentCommandAccepted"
        "400":
          description: The payload is invalid (`Text` is required, at most 500 characters).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /Metadocuments/{guid}/Comments/{id}:
    delete:
      operationId: deleteMetadocumentComment
      tags: [Metadocuments]
      summary: Delete Metadocument Comment
      description: |
        Deletes the comment of the specific metadocument. When the metadocument has no other content, it is deleted as well.

        Required access right: _Contributor_; deleting another user's comment requires the _Admin_ right.
      parameters:
        - name: guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the metadocument.
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: The identifier of the comment within the metadocument.
        - $ref: "#/components/parameters/CommandCustomId"
      responses:
        "202":
          $ref: "#/components/responses/MetadocumentCommandAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /Metadocuments/{guid}/ProductionEntries:
    parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Unique identifier of the metadocument.
    post:
      operationId: addProductionEntry
      tags: [Metadocuments]
      summary: Add Production Entry
      description: |
        Adds a production entry (produced amount record) into the metadocument.

        Required access right: _Contributor_.

        When the production entries of the metadocument are managed by a linked external source, the server responds with `405 Method Not Allowed`.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductionEntryCreate"
            example:
              Value: 120
              Type: OK
              Time: "2026-07-01T07:00:00Z"
      responses:
        "202":
          $ref: "#/components/responses/MetadocumentCommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          description: The production entries of the metadocument are managed by a linked external source and cannot be modified directly.
    patch:
      operationId: patchProductionEntry
      tags: [Metadocuments]
      summary: Patch Production Entry
      description: |
        Updates the production entry with the specific `Id` of the given metadocument. The entry is replaced as a whole - provide all its properties, including `Time` (when `Time` is omitted, the current UTC time is used, which fails with the `DataError` result for metadocuments in the past).

        Required access right: _Contributor_.

        __Note:__ Updating a production entry assigns it a new `id` (the `id` identifies the entry and its version). Re-read the metadocument to get the current `id` before a subsequent update or delete.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required: [Id]
                  properties:
                    Id:
                      type: integer
                      description: The identifier of the production entry within the metadocument.
                - $ref: "#/components/schemas/ProductionEntryCreate"
            example:
              Id: 1
              Value: 150
              Type: OK
      responses:
        "202":
          $ref: "#/components/responses/MetadocumentCommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          description: The production entries of the metadocument are managed by a linked external source and cannot be modified directly.

  /Metadocuments/{guid}/ProductionEntries/{id}:
    delete:
      operationId: deleteProductionEntry
      tags: [Metadocuments]
      summary: Delete Production Entry
      description: |
        Deletes the production entry of the specific metadocument. When the metadocument has no other content, it is deleted as well.

        Required access right: _Contributor_.
      parameters:
        - name: guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the metadocument.
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: The identifier of the production entry within the metadocument.
        - $ref: "#/components/parameters/CommandCustomId"
      responses:
        "202":
          $ref: "#/components/responses/MetadocumentCommandAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          description: The production entries of the metadocument are managed by a linked external source and cannot be modified directly.

  /MetadocumentsQuery:
    post:
      operationId: queryMetadocuments
      tags: [Metadocuments]
      summary: Get Metadocuments
      description: |
        Gets the metadocuments for the given measurements and time ranges. The request may contain at most 100 queries.

        Required access right: _View_ for every queried measurement (otherwise `403 Forbidden`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Queries:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required: [MeasurementId, From, To]
                    properties:
                      MeasurementId:
                        type: integer
                      From:
                        type: string
                        format: date-time
                      To:
                        type: string
                        format: date-time
            example:
              Queries:
                - MeasurementId: 3
                  From: "2026-06-30T22:00:00Z"
                  To: "2026-07-01T19:59:59Z"
      responses:
        "200":
          description: The metadocuments with related users.
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  responseContinuation:
                    type: string
                    description: Continuation token if the returned data are too long for one response; empty if the query is fully satisfied.
                  dateTime:
                    type: string
                    format: date-time
                    description: UTC date and time for which the response is up to date.
                  _links:
                    $ref: "#/components/schemas/HalLinks"
                  _embedded:
                    type: object
                    properties:
                      user:
                        type: array
                        items:
                          $ref: "#/components/schemas/UserSummary"
                      metadocument:
                        type: array
                        items:
                          $ref: "#/components/schemas/Metadocument"
              example:
                responseContinuation: ""
                dateTime: "2026-07-11T07:03:03.211009Z"
                _links:
                  self:
                    href: /Api/MetadocumentsQuery/
                _embedded:
                  user:
                    - userId: 497
                      name: Jan Novák
                      _links:
                        self:
                          href: /Api/Users/497
                  metadocument:
                    - guid: 13f6a3b3-0416-49e9-81ed-fab139518c0d
                      type: 1
                      creatorId: 497
                      measurementId: 3
                      from: "2026-07-01T10:18:00Z"
                      to: "2026-07-01T10:18:00Z"
                      eTag: "\"2f007274-0000-0d00-0000-6a4e18d80000\""
                      lastModified: "2026-07-04T07:48:34Z"
                      _links:
                        self:
                          href: /Api/Metadocuments/13f6a3b3-0416-49e9-81ed-fab139518c0d
                      _embedded:
                        comment:
                          - id: 0
                            text: Ahoj...
                            modificationTime: "2026-07-03T12:00:56Z"
                            _links:
                              self:
                                href: /Api/Metadocuments/13f6a3b3-0416-49e9-81ed-fab139518c0d/Comments/0/
                              user:
                                href: /Api/Users/497
        "400":
          description: The payload is missing or contains more than 100 queries.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /MetadocumentCommandResults/{guid}:
    get:
      operationId: getMetadocumentCommandResult
      tags: [Metadocuments]
      summary: Get Metadocument Command Result
      description: |
        Gets the result of a metadocument command. Poll this endpoint until the `result` reaches one of the final states (see the group description).
      parameters:
        - name: guid
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: f57513ba-c004-45bc-b28c-610eb00de7cf
          description: Unique identifier of the metadocument command.
      responses:
        "200":
          description: The metadocument command result.
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/MetadocumentCommandResult"
              example:
                guid: f57513ba-c004-45bc-b28c-610eb00de7cf
                result: Success
                createdDate: "2026-07-01T05:29:58Z"
                processedDate: "2026-07-01T05:30:00Z"
                metadocumentGuid: 27a858a0-c244-4640-83f8-513dbc70c2e6
                _links:
                  self:
                    href: /Api/MetadocumentCommandResults/f57513ba-c004-45bc-b28c-610eb00de7cf
                  metadocument:
                    href: /Api/Metadocuments/27a858a0-c244-4640-83f8-513dbc70c2e6
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /MetadocumentCommandResults:
    get:
      operationId: getMetadocumentCommandResultByCustomId
      tags: [Metadocuments]
      summary: Get Metadocument Command Result by custom identifier
      description: |
        Gets the result of a metadocument command by the client-supplied `commandCustomId` that was passed with the command request.
      parameters:
        - name: commandCustomId
          in: query
          required: true
          schema:
            type: string
          description: The client-supplied command identifier.
      responses:
        "200":
          description: The metadocument command result.
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/MetadocumentCommandResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ---------------------------------------------------------------------------
  # Downtime Codes
  # ---------------------------------------------------------------------------
  /DowntimeDictionary:
    get:
      operationId: getDowntimeDictionary
      tags: [Downtime Codes]
      summary: Get downtime code dictionary
      description: |
        Gets the downtime code dictionary for the given set of measurements. The response embeds two collections:

        * `downtimeCode` - the downtime codes themselves
        * `measurementDowntimeCode` - the mapping of measurements to their downtime codes (as links)

        Deleted codes are included with a non-null `validTo`; treat them as historical (they may still be referenced by past downtimes).

        Required access right: _View_ (for all queried measurements, otherwise `403 Forbidden`).
      parameters:
        - name: ids
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
          description: The measurement identifiers (repeat the parameter for multiple measurements, e.g. `?ids=3&ids=4`).
        - name: culture
          in: query
          required: true
          schema:
            type: string
          example: en-US
          description: The culture identifier (e.g. `en-US`). Reserved for future localization of the dictionary; currently it does not affect the response content. Always provide it - requests without `culture` are served by a legacy variant of the endpoint with a different, obsolete response shape.
      responses:
        "200":
          description: The downtime code dictionary.
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  _links:
                    $ref: "#/components/schemas/HalLinks"
                  _embedded:
                    type: object
                    properties:
                      downtimeCode:
                        type: array
                        items:
                          $ref: "#/components/schemas/DowntimeCode"
                      measurementDowntimeCode:
                        type: array
                        items:
                          type: object
                          properties:
                            measurementId:
                              type: integer
                            _links:
                              $ref: "#/components/schemas/HalLinks"
              example:
                _links:
                  self:
                    href: /Api/DowntimeDictionary
                _embedded:
                  downtimeCode:
                    - downtimeCodeId: 9561
                      key: "144"
                      code: "1.2"
                      title: Tool change
                      color: "#E67E22"
                      commandGuid: bbf8dc05-0735-43b3-a2fb-6406bda5097f
                      canBeSelected: true
                      isCommentRequired: true
                      maxLength: 3600
                      _links:
                        self:
                          href: /Api/DowntimeCode/9561
                    - downtimeCodeId: 9562
                      key: "145"
                      code: "2"
                      title: Breakdown
                      isBreakdown: true
                      validTo: "2025-06-05T08:27:27.547Z"
                      commandGuid: c1f8dc05-0735-43b3-a2fb-6406bda5097f
                      canBeSelected: false
                      _links:
                        self:
                          href: /Api/DowntimeCode/9562
                  measurementDowntimeCode:
                    - measurementId: 3
                      _links:
                        self:
                          href: /Api/Measurement/3/DowntimeCodes
                        downtimeCode:
                          - href: /Api/DowntimeCode/9561
                          - href: /Api/DowntimeCode/9562
        "400":
          description: The `ids` parameter is missing.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /DowntimeCodeAddCommands:
    post:
      operationId: addDowntimeCode
      tags: [Downtime Codes]
      summary: Add downtime code
      description: |
        Creates a new downtime code on the given measurements.

        Required access right: _Admin_ (for all listed measurements).
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required: [MeasurementIds]
                  properties:
                    MeasurementIds:
                      type: array
                      items:
                        type: integer
                      description: The measurements on which the code is created.
                - $ref: "#/components/schemas/DowntimeCodeWrite"
            example:
              MeasurementIds: [3, 4]
              Code: "1.2"
              Title: Tool change
              Color: "#E67E22"
              CanBeSelected: true
              IsCommentRequired: true
              MaxLength: 3600
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid (`Code` and `Title` are required; `Code` must match `^([a-zA-Z0-9]+\.?)+$` and be at most 10 characters long).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /DowntimeCodeUpdateCommands:
    post:
      operationId: updateDowntimeCode
      tags: [Downtime Codes]
      summary: Update downtime code
      description: |
        Updates the downtime code identified by `OriginGuids` and `DowntimeCodeIds`. Only the provided properties are changed - omitted optional properties keep their current values (`Code` and `Title` are required even when unchanged).

        Required access right: _Admin_.

        __Note:__ Every change of a code assigns it a new `commandGuid`. Re-read the dictionary to get the current `commandGuid` (used as `OriginGuids`) before a subsequent update, delete or restore; a command with a stale `OriginGuids` value finishes with the `Conflict` result.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required: [OriginGuids, DowntimeCodeIds]
                  properties:
                    OriginGuids:
                      type: array
                      items:
                        type: string
                        format: uuid
                      description: The current `commandGuid` values of the codes to update (see the dictionary).
                    DowntimeCodeIds:
                      type: array
                      items:
                        type: integer
                      description: The `downtimeCodeId` values of the codes to update.
                - $ref: "#/components/schemas/DowntimeCodeWrite"
            example:
              OriginGuids: [bbf8dc05-0735-43b3-a2fb-6406bda5097f]
              DowntimeCodeIds: [9561]
              Code: "1.2"
              Title: Tool change (updated)
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid (`Code` and `Title` are required even when unchanged).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /DowntimeCodeDeleteCommands:
    post:
      operationId: deleteDowntimeCode
      tags: [Downtime Codes]
      summary: Delete downtime code
      description: |
        Deletes (deactivates) the downtime codes identified by `OriginGuids` and `DowntimeCodeIds`. The delete is a soft delete - the code gets a `validTo` timestamp and stays in the dictionary for historical downtimes. It can be restored later.

        Required access right: _Admin_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [OriginGuids, DowntimeCodeIds]
              properties:
                OriginGuids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: The current `commandGuid` values of the codes to delete.
                DowntimeCodeIds:
                  type: array
                  items:
                    type: integer
            example:
              OriginGuids: [bbf8dc05-0735-43b3-a2fb-6406bda5097f]
              DowntimeCodeIds: [9561]
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /DowntimeCodeRestoreCommands:
    post:
      operationId: restoreDowntimeCode
      tags: [Downtime Codes]
      summary: Restore downtime code
      description: |
        Restores previously deleted downtime codes (clears their `validTo`).

        Required access right: _Admin_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [MeasurementIds, OriginGuids, DowntimeCodeIds]
              properties:
                MeasurementIds:
                  type: array
                  items:
                    type: integer
                OriginGuids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: The current `commandGuid` values of the codes to restore.
                DowntimeCodeIds:
                  type: array
                  items:
                    type: integer
            example:
              MeasurementIds: [3]
              OriginGuids: [bbf8dc05-0735-43b3-a2fb-6406bda5097f]
              DowntimeCodeIds: [9561]
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /DowntimeCodeCopyCommands:
    post:
      operationId: copyDowntimeCodes
      tags: [Downtime Codes]
      summary: Copy downtime codes between measurements
      description: |
        Copies downtime codes from the origin measurement to the target measurements. The `CopyAction` determines the behavior:

        * `CopyAll` - copies all selected codes of the origin measurement
        * `Merge` - adds only the codes missing on the target measurements (matched by `code`)
        * `Overwrite` - copies the codes and overwrites the conflicting ones on the target measurements

        Required access right: _Admin_ (for the target measurements).
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [MeasurementIds, OriginMeasurementId, CopyAction, OriginMeasurementGuids]
              properties:
                MeasurementIds:
                  type: array
                  items:
                    type: integer
                  description: The target measurements.
                OriginMeasurementId:
                  type: integer
                  description: The measurement to copy the codes from.
                CopyAction:
                  type: string
                  enum: [CopyAll, Merge, Overwrite]
                OriginMeasurementGuids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: The `commandGuid` values of the origin measurement codes to copy.
            example:
              MeasurementIds: [4, 5]
              OriginMeasurementId: 3
              CopyAction: Merge
              OriginMeasurementGuids: [bbf8dc05-0735-43b3-a2fb-6406bda5097f]
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  # ---------------------------------------------------------------------------
  # Automatic Downtime Generation (historical name: downtime alarms)
  # ---------------------------------------------------------------------------
  /DowntimeAlarmAddCommands:
    post:
      operationId: addDowntimeAlarm
      tags: [Automatic Downtime Generation]
      summary: Enable automatic downtime generation
      description: |
        Enables the automatic downtime generation on the given measurements - creates a generation rule with the specified minimum stop length.

        Required access right: _Admin_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [MeasurementIds, TimeSpan]
              properties:
                MeasurementIds:
                  type: array
                  items:
                    type: integer
                TimeSpan:
                  type: string
                  description: The minimum stop length that triggers the automatic downtime creation, in the `hh:mm:ss` format.
            example:
              MeasurementIds: [3]
              TimeSpan: "00:05:00"
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /DowntimeAlarmUpdateCommands:
    post:
      operationId: updateDowntimeAlarm
      tags: [Automatic Downtime Generation]
      summary: Update automatic downtime generation rule
      description: |
        Updates the minimum stop length of the generation rules identified by `OriginGuids` and `ProductionAlarmTriggerIds`.

        Required access right: _Admin_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [OriginGuids, ProductionAlarmTriggerIds]
              properties:
                OriginGuids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: The `commandGuid` values of the generation rules (assigned by the command that created or last changed them).
                ProductionAlarmTriggerIds:
                  type: array
                  items:
                    type: integer
                  description: The identifiers of the generation rules (historically "production alarm triggers").
                TimeSpan:
                  type: string
                  description: The new minimum stop length, in the `hh:mm:ss` format.
            example:
              OriginGuids: [bbf8dc05-0735-43b3-a2fb-6406bda5097f]
              ProductionAlarmTriggerIds: [42]
              TimeSpan: "00:10:00"
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /DowntimeAlarmDeleteCommands:
    post:
      operationId: deleteDowntimeAlarm
      tags: [Automatic Downtime Generation]
      summary: Disable automatic downtime generation
      description: |
        Disables the automatic downtime generation - deletes the generation rules identified by `OriginGuids` and `ProductionAlarmTriggerIds`.

        Required access right: _Admin_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [OriginGuids, ProductionAlarmTriggerIds]
              properties:
                OriginGuids:
                  type: array
                  items:
                    type: string
                    format: uuid
                ProductionAlarmTriggerIds:
                  type: array
                  items:
                    type: integer
            example:
              OriginGuids: [bbf8dc05-0735-43b3-a2fb-6406bda5097f]
              ProductionAlarmTriggerIds: [42]
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  # ---------------------------------------------------------------------------
  # Job Types
  # ---------------------------------------------------------------------------
  /JobTypes:
    get:
      operationId: getJobTypes
      tags: [Job Types]
      summary: Get job types
      description: |
        Gets the list of job types (the job plan) of the user's current subscription.

        Required access right: _View_.
      parameters:
        - name: measurementId
          in: query
          required: false
          schema:
            type: integer
          description: When specified, only job types of the given measurement are returned.
      responses:
        "200":
          description: The list of job types.
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  _links:
                    $ref: "#/components/schemas/HalLinks"
                  _embedded:
                    type: object
                    properties:
                      jobType:
                        type: array
                        items:
                          $ref: "#/components/schemas/JobType"
              example:
                _links:
                  self:
                    href: /Api/JobTypes
                _embedded:
                  jobType:
                    - jobTypeId: 730039621
                      title: Order 2026-0042
                      setpoint: 50
                      measurementId: 1770
                      plannedFrom: "2026-07-02T06:50:00Z"
                      plannedTo: "2026-07-02T07:20:00Z"
                      isPermanent: false
                      currentState: Available
                      order: 1
                      commandGuid: 5ad8938c-21dc-4b51-9b2c-3a8bfb2b816d
                      targetAmount: 100
                      workOrderNumber: WO-2026-0042
                      customFields:
                        PartNumber: PN-123
                      _links:
                        self:
                          href: /Api/JobTypes/730039621
                    - jobTypeId: 730039622
                      title: 01.SP
                      setpoint: 36.67
                      measurementId: 1771
                      isPermanent: false
                      currentState: Available
                      order: 1
                      commandGuid: 1d8a6a09-d957-4969-9c69-2a061d6c92f4
                      _links:
                        self:
                          href: /Api/JobTypes/730039622
        "401":
          $ref: "#/components/responses/Unauthorized"

  /JobTypes/{id}:
    get:
      operationId: getJobType
      tags: [Job Types]
      summary: Get job type
      description: |
        Gets the job type with the specific identifier.

        Required access right: _View_.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: The job type identifier.
      responses:
        "200":
          description: The job type.
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/JobType"
              example:
                jobTypeId: 730039621
                title: Order 2026-0042
                setpoint: 50
                measurementId: 1770
                plannedFrom: "2026-07-02T06:50:00Z"
                plannedTo: "2026-07-02T07:20:00Z"
                isPermanent: false
                currentState: Available
                order: 1
                commandGuid: 5ad8938c-21dc-4b51-9b2c-3a8bfb2b816d
                targetAmount: 100
                workOrderNumber: WO-2026-0042
                _links:
                  self:
                    href: /Api/JobTypes/730039621
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /JobTypesImportCommands:
    post:
      operationId: importJobTypes
      tags: [Job Types]
      summary: Upload CSV file with JOBs
      description: |
        Uploads the CSV file with the job plan (see the group description for the file format). Exactly one file is expected as a multipart content.

        __The import replaces the whole job type list__ of every measurement affected by the file.

        Required access right: _DataAdmin_ (for all affected measurements; insufficient rights on any of them cause the `DataError` command result).

        The import is asynchronous: the response contains the relative URL (`location`) of the command result. Poll the URL until the `result` reaches `Success` or `DataError` (the `reason` property then describes the problem, e.g. `Header does not contain any valid field.` or `Title must be defined.`).
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                jobTypesFile:
                  type: string
                  contentMediaType: text/csv
                  description: The CSV file with JOBs (UTF-8, comma or semicolon separated, with a header row).
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The multipart data are invalid or more than one file was uploaded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiMessage"
              example:
                Message: Only single file upload is supported.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The user does not have the DataAdmin right for any measurement.
        "415":
          description: The request content is not a MIME multipart content.

  # ---------------------------------------------------------------------------
  # Calendar
  # ---------------------------------------------------------------------------
  /Calendars/{measurementId}/Events:
    parameters:
      - name: measurementId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getCalendarEvents
      tags: [Calendar]
      summary: Get calendar events
      description: |
        Gets the calendar events (shifts and planned shutdowns) of the measurement in the given time range.

        Required access right: _View_.
      parameters:
        - name: fromDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: The calendar events with the related operators.
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/CalendarEventList"
              example:
                hasDataAdminAccessRightDictionary:
                  "3": true
                _links:
                  self:
                    href: /Api/Calendars/3/Events/
                _embedded:
                  event:
                    - shiftName: Morning shift
                      shiftType: Morning
                      eventType: PlannedProduction
                      measurementId: 3
                      start: "2026-07-12T06:00:00Z"
                      end: "2026-07-12T14:00:00Z"
                      pauses:
                        - from: "04:00:00"
                          to: "04:15:00"
                      plannedOperatorAssignment: 1
                      overtime: false
                      guid: 29488260-a3c8-4ed4-be08-2fd84fbfd66c
                      _links:
                        self:
                          href: /Api/Calendars/3/Events/PlannedProduction/1783836000
                        operators:
                          href: /Api/Users/101
                  user:
                    - userId: 101
                      name: Jan Novák
                      _links:
                        self:
                          href: /Api/Users/101
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createCalendarEvent
      tags: [Calendar]
      summary: Create calendar event
      description: |
        Creates a calendar event (a shift or a planned shutdown) on the measurement.

        Required access right: _DataAdmin_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [FromDate, ToDate]
              properties:
                FromDate:
                  type: string
                  format: date-time
                  description: The start of the event; it also becomes the event identifier (its Unix timestamp).
                ToDate:
                  type: string
                  format: date-time
                EventType:
                  type: string
                  enum: [plannedProduction, plannedShutdown]
                  description: The type of the event; `plannedProduction` (a shift) when omitted.
                ShiftName:
                  type: string
                ShiftType:
                  type: string
                  description: User-defined shift type label (e.g. `Morning`).
                Pauses:
                  type: array
                  items:
                    $ref: "#/components/schemas/PauseIntervalWrite"
                PlannedOperatorAssignment:
                  type: number
                  minimum: 0
                  description: The planned number of assigned operators.
                EffectiveOperatorAssignment:
                  type: number
                  minimum: 0
                  description: The effective number of assigned operators.
                Overtime:
                  type: boolean
            example:
              FromDate: "2026-07-12T06:00:00Z"
              ToDate: "2026-07-12T14:00:00Z"
              EventType: plannedProduction
              ShiftName: Morning shift
              ShiftType: Morning
              Pauses:
                - From: "04:00:00"
                  To: "04:15:00"
              PlannedOperatorAssignment: 1
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid (e.g. a negative operator assignment).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /Calendars/Events:
    post:
      operationId: getCalendarEventsBatch
      tags: [Calendar]
      summary: Get calendar events for multiple measurements
      description: |
        Gets the calendar events for the given measurements and time ranges in one request.

        Required access right: _View_ for every queried measurement (otherwise `403 Forbidden`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Queries:
                  type: array
                  items:
                    type: object
                    required: [MeasurementId, From, To]
                    properties:
                      MeasurementId:
                        type: integer
                      From:
                        type: string
                        format: date-time
                      To:
                        type: string
                        format: date-time
            example:
              Queries:
                - MeasurementId: 3
                  From: "2026-07-12T00:00:00Z"
                  To: "2026-07-19T00:00:00Z"
      responses:
        "200":
          description: The calendar events with the related operators.
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/CalendarEventList"
        "400":
          description: The payload is missing or invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /Calendars/{measurementId}/Events/{eventType}/{id}:
    parameters:
      - name: measurementId
        in: path
        required: true
        schema:
          type: integer
      - name: eventType
        in: path
        required: true
        schema:
          type: string
          enum: [plannedProduction, plannedShutdown]
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The event identifier - the Unix timestamp (in seconds) of the event start. Note that changing the event start also changes its identifier.
        example: "1783836000"
    patch:
      operationId: updateCalendarEvent
      tags: [Calendar]
      summary: Update calendar event
      description: |
        Updates the calendar event. Only events of the `plannedProduction` type can be updated (`400 Bad Request` otherwise); a planned shutdown has to be deleted and recreated instead. Only the properties present in the payload are changed (`FromDate`, `ToDate` and `OriginGuid` are always required).

        Unlike other command endpoints, the concurrency check runs synchronously: a stale `OriginGuid` responds with `409 Conflict` immediately.

        Required access right: _DataAdmin_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [OriginGuid, FromDate, ToDate]
              properties:
                OriginGuid:
                  type: string
                  format: uuid
                  description: The current `guid` of the event (see the group description).
                FromDate:
                  type: string
                  format: date-time
                  description: The new start of the event. Changing it also changes the event identifier.
                ToDate:
                  type: string
                  format: date-time
                ShiftName:
                  type: string
                ShiftType:
                  type: string
                Pauses:
                  type: array
                  items:
                    $ref: "#/components/schemas/PauseIntervalWrite"
                PlannedOperatorAssignment:
                  type: number
                  minimum: 0
                EffectiveOperatorAssignment:
                  type: number
                  minimum: 0
                Overtime:
                  type: boolean
            example:
              OriginGuid: 29488260-a3c8-4ed4-be08-2fd84fbfd66c
              FromDate: "2026-07-12T06:00:00Z"
              ToDate: "2026-07-12T15:00:00Z"
              ShiftName: Morning shift (extended)
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The event type is not `plannedProduction`, the dates are invalid, or `FromDate` is not before `ToDate`.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: No event of the given type starts at the time given by `id`.
        "409":
          description: The `OriginGuid` is stale - the event has been modified in the meantime. Re-read the events to get the current `guid`.
    delete:
      operationId: deleteCalendarEvent
      tags: [Calendar]
      summary: Delete calendar event
      description: |
        Deletes the calendar event.

        Required access right: _DataAdmin_.
      parameters:
        - name: originGuid
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The current `guid` of the event.
        - $ref: "#/components/parameters/CommandCustomId"
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The event type is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /CalendarOperatorAddCommands:
    post:
      operationId: addCalendarOperator
      tags: [Calendar]
      summary: Assign operator to shift
      description: |
        Assigns the user as an operator of the shift given by the event identifier.

        Required access right: _DataAdmin_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarOperatorCommand"
            example:
              MeasurementId: 3
              Id: "1783836000"
              OriginGuid: 29488260-a3c8-4ed4-be08-2fd84fbfd66c
              UserId: 101
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /CalendarOperatorRemoveCommands:
    post:
      operationId: removeCalendarOperator
      tags: [Calendar]
      summary: Remove operator from shift
      description: |
        Removes the user from the operators of the shift given by the event identifier.

        Required access right: _DataAdmin_.
      parameters:
        - $ref: "#/components/parameters/CommandCustomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarOperatorCommand"
            example:
              MeasurementId: 3
              Id: "1783836000"
              OriginGuid: 29488260-a3c8-4ed4-be08-2fd84fbfd66c
              UserId: 101
      responses:
        "202":
          $ref: "#/components/responses/CommandAccepted"
        "400":
          description: The payload is invalid.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  # ---------------------------------------------------------------------------
  # Command Results
  # ---------------------------------------------------------------------------
  /commandResults/{id}:
    get:
      operationId: getCommandResult
      tags: [Command Results]
      summary: Get command result
      description: Gets the result of an asynchronous command. Poll this endpoint until the `result` reaches one of the final states (see the group description).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
[...]
